<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<%- include('./partials/nav.ejs') %>
<body class="bg-light">
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <div class="card shadow">
                    <div class="card-body">
                        <h2 class="card-title text-center mb-4">LogIn to Your Account</h2>
                        <% if (locals.error) { %>
                            <div class="container mt-4">
                            <div class="alert alert-danger" role="alert">
                              <%= locals.error %>
                            </div>
                          </div>
                          <% } %>
                        <form action="/user/login" method="post">
                            <div class="mb-3">
                                <label for="email" class="form-label">Email address</label>
                                <input type="email" class="form-control" id="email" name="email" required>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" class="form-control" id="password" name="password" required>
                            </div>
                            <div class="d-grid gap-2">
                                <button type="submit" class="btn btn-primary">LogIn</button>
                            </div>
                        </form>
                        <hr>
                        <div class="text-center">
                            <p>Don't have an account? <a href="#" class="text-decoration-none">Sign In</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('./partials/script.ejs') %>
</body>
</html>